version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: zoo-ticketing-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - zoo-network

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - zoo-network
    depends_on:
      - app

networks:
  zoo-network:
    driver: bridge
